<link rel="stylesheet" href ="/stylesheets/partials.css" />

<nav>
    <div class="navbar">
        <div class="nav-links">
            
            <a class="authlink" href="/">Home</a>
            
            
            <% if(user) { %>
            <a class="authlink" href="/users/<%= user._id %>/tricks">Your Tricks</a>
            <a class="authlink" href="/auth/sign-out">Sign Out</a>
        </div>
    </div>
    <% } else { %>
        <div class="navbar">
            <!-- <h1 id="nav-header">Tricks Tracker</h1> -->
            <div class="nav-links">
                
                <a class="authlink" href="/auth/sign-in">Sign In</a>
                <a class="authlink" href="/auth/sign-up">Sign Up</a>
            </div>
        </div>
    <% } %>
</nav>